/*Div properties*/
div {
    border-style: none;
    border-width: 5px;
    padding: 20px;
    background-color: #F9F9F9;
}
/*jumbotron properties*/
.jumbotron {
    background-color: #d5d5d5;
    text-align: center;
}
/*body properties*/
body {
    background-color: #F9F9F9;
}
/*button properties*/
.btn-group {
    background-color: #d5d5d5;
}