div {
    border-style: none;
    border-width: 5px;
    padding: 20px;
    background-color: #F9F9F9;
}
.jumbotron {
    background-color: #d5d5d5;
    text-align: center;
}
body {
    background-color: #F9F9F9;
}
.btn-group {
    background-color: #d5d5d5
}